#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#form {
  border: solid 3px rgb(207, 34, 34);
  border-radius: 10px;
  background-color: antiquewhite;
}

#button{
  background-color: antiquewhite;
}
